@model IEnumerable<The_Test.Models.BookingVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="thedatatable table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PickUpTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>
                    @booking.PickUpTime.ToString("dddd, dd MMMM yyyy HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.FromAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.ToAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.Price)
                </td>
                <td>
                    @if (booking.IsPaid)
                    {
                        <i class="fas fa-check-circle" data-toggle="tooltip" data-placement="bottom" title="It's Paid"></i>
                    }

                    else
                    {
                        <i class="fas fa-times-circle " data-toggle="tooltip" data-placement="bottom" title="Where is the Money Lebawski?"></i>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.PaymentDate)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@booking.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@booking.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@booking.Id">Delete</a> |
                    @if (booking.IsPaid == false)
                    {
                        <i class="fab fa-paypal text-primary" data-toggle="modal" data-target="PayForBookingModal_@booking.Id"></i>
                    }


                    <div class="modal fade" id="PayForBookingModal_@booking.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="PayForBookingModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h4>Do you want to pay for your the Booking?</h4>
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="PayForBooking">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
